<!DOCTYPE html>
<html>
<head>
  <title>index</title>
  <style type="text/css" href="./style.css"></style>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<body>

	<div class="navbar-fixed">
    <nav class="#0d47a1 blue darken-4">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo center">BLOG</a>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	   
	        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
	        <li><a href="blogs/new">投稿</a>
	        </li>
          <% else %>
	         <li><%= link_to "ログイン", new_user_session_path, class: 'post'%></li>
	        <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
	         <% end %>

	      </ul>
	      
	     </div>
     </nav>
     </div>

<%= yield %>

 <footer>
     Copyright BLOG 2018.
 </footer>

</body>
</html>











